{
  "type": "service_account",
  "project_id": "TU_PROYECTO",
  "private_key_id": "...",
  "private_key": "...",
  "client_email": "aubasa-sheets@TU_PROYECTO.iam.gserviceaccount.com",
  "client_id": "...",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token"
}
